<!DOCTYPE html>
<html>
<head>
<meta content = "text/html; charset-UTF-8" http-equiv="Content-Type" />
</head>
<body>
Virtual Booking Agent received a request to reset your password.<br/>
Your new password for Virtual Booking Agent is <%= @new_password %>.<br/>
If you have not requested to reset your password, please inform Michael at michael@virtualpianist.com.
</body>
</html>
