<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to virtualbookingagent.com, <%= @group.title %></h1>
    <p>
      You have successfully signed up and added your group,
      your group name is: <%= @group.title %>.<br/>
	  As you add concerts, venues will be notified of the new concert offering.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>