<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to virtualbookingagent.com, <%= @user.login %></h1>
    <p>
      You have successfully signed up to Virtual Booking Agent.<br/>
      Your login is: <%= @user.login %>.<br/>
	  <% if @user.notify %>
		You will be notified of new concerts and groups.
	  <% else %>
		You will not be notified of new groups and concerts.
	  <% end %>
	  <br/>
	  If you want to change this, go to <%= @url %> and modify your profile settings. 
	  <br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>