<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to virtualbookingagent.com, <%= @venue.name %></h1>
    <p>
      You have successfully added your venue to Virtual Booking Agent.<br/>
      Your venue name is: <%= @venue.name %>.<br/>
	  You should check your profile to see if you are allowing email to be sent to you if you want to receive email about new groups and concerts.<br/>
    </p>
    <p>
      To login to the site, just follow this link: <%= @url %>.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>