<div class="form_heading">
<br/><br/>About Virtual Booking Agent</div>

<div id="notes">
Virtual Booking Agent - Version 2.0 - Copyright © 2012<br/>
Contact: <%= mail_to("michael@virtualpianist.com") %><br/>
Legal: <%= link_to "GNU Public License Version 3", "http://www.gnu.org/licenses/fdl.txt"%>
</div>
