
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
Yes, typically you are either a venue or a musical group.  If you happen to be both, that's fine.  Just use "Manage My Venues" and "Manage My Groups".  
</div>