<table class="center">
<tbody>
<tr>
<td style="vertical-align: top;">Your Name
</td>
<td style="vertical-align: top;"><input type="text-field" name="name" />
</td>
</tr>
<tr>
<td style="vertical-align: top;">Your Message
</td>
<td style="vertical-align: top;"><textarea rows="8" cols="30"></textarea>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><%= mail_to "michael@virtualpianist.com" %>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
<tr>
<td style="vertical-align: top;"><br>
</td>
<td style="vertical-align: top;"><br>
</td>
</tr>
</tbody>
</table>