
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
You need to either join a group already registered, (assuming you are in that group!), or create your group using the "Manage my Groups" selection.
<br/>
Add concerts that you are offering using "Manage my Concerts".  <br/>
You need to have a web page for each concert describing the concert. 
You should also have a web page for your group. <br/>
<br/>
Other than that, once you add your concerts, venues who are registered will get some email letting them know about your performance offer.  They will get the contact information you put in for your group. 
</div>