
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
When you see a concert you want, click on the group's name.  This will show you all the contact information about the group. All details about the hiring are handled by the phone or email.  Virtual Booking Agent does not do the booking online. 
</div>