
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
When you see a concert you want, click on "Book it".  This only connects you to the group.  All details are handled by the phone or email. 
</div>