
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
First thing you need to do is put your group information in by clicking on "Manage my Groups". 
Then you can add concerts by clicking on "Manage my Concerts". 
<br/><br/>
You should have a web page for your group and a picture of your group.  You also need to have a web page describing your concerts.  There is a link provided for that description when venues look at your concerts. 
That way venues can jump to the description of the concert where you can have some recordings and images.  
<br/><br/>
Pictures of venues and groups are displayed randomly on Virtual Booking Agent.
</div>