<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
First thing you need to do is put your venue information in by clicking on "Manage my Venues". 
Then you can search for concerts near you by clicking on "Show Concerts Near Me". 
<br/><br/>
You should have a web page for your venue.  You should also have a picture of your venue that you would want displayed.
<br/>
Pictures of venues and groups are displayed randomly on Virtual Booking Agent.  
</div>