
<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
If you don't have a website, or you don't have a webpage for your concerts, there are a number of options.<br/><br/>
You can use a service at http://instantencore.com to create one for free. 
<br/><br/>
Often your internet service
provider will offer free simple web sites for customers.  If you have Apple iWeb and MobileMe you can create 
web sites easily.  www.webs.com is another free web site maker.  
<br/><br/>
You really should have a website if you are
a performer. Eventually Virtual Booking Agent will provide a way to give you a free page using your concert
information and group picture.  
</div>