<div class="form_heading">
<br/><br/>
Agent help</div>


<div id="notes">
Virtual Booking Agent is a tool to help performers and venues get together. </br></br>
When performers have a concert they want to offer, they put information about it here and
venues can receive email about the offer as well as come search for what concerts are being offered in their area.  
<br/><br/>
If you are a performer, you can find contacts to venues for performance opportunities. You can search for venues near you.
<br/><br/>
If you are a venue, you can find groups near you that are offering concerts.  You can search for groups near you.
<br/><br/> 
<%= link_to "Back to Help",'/agent/help' %>
</div>