<div class="form_heading"><br/><br/>Groups Near You</div>
<div id="slider"></div>
<br/>
<table class="center" style="width:300px"><tr><td><div id="current_value"></div></td><td>

	<%= form_tag '/users/groups_near_me', :method=>"get" do %>
	<input type="hidden", name="distance", id="distance", value="<%= @current_dist %>"></input>
	<input type="submit", name="submit", value="Update"></input>
	<% end %>
		
	</td></tr></table>

<table class="center"><tr><td>
<ul>
<% @groups.each do |g| %>
	<li><%= link_to g.title,g %></li>
<% end %>
</ul>
</td></tr></table>
<% if @groups.length == 0 %>
	<div id="notes">
		There are no groups near you who are registered yet.  Contact performers you know nearby to get them to sign on. 
		</div>
<% end %>