<div class="form_heading"><br/><br/>
Hello <%= @user.login %></div>
<br/>
<br/>
<div style="margin-left:30%">
Your Notification has been turned off. <br/>
If you want to turn notification on, edit your profile in Virtual Booking Agent. <br/>
</div>