
<table class="center">
<tr><td><b>Title</b></td><td><b>Genre</b></td><td><b>Group</b></td></tr>
<% @selected_concerts.each do |c| %>
<tr>
<td>
<%= link_to c.title,c %>
</td>
<td>
<%= c.genre %>
</td>
<td>
<%= link_to Group.find(c.group_id).title, Group.find(c.group_id) %>
</td>
</tr>
<% end %>
</table>
