<p id="notice"><%= notice %></p>
<div class="form_heading"><br/>
Editing venue</div>

<%= render 'form' %>

<div id="footerlinks">
<%= link_to 'Show', @venue %> |
<%= link_to 'Back', venues_path %>
</div>