<div class="form_heading"><br/><br/>New concert</div>

<%= render 'form' %>

<div id="sendmsg">
	Please wait, sending announcement of your concert to venues.
</div>

<div id="footerlinks">
<%= link_to 'Back', concerts_path %>
</div>